In [3]:
# Load relevant Julia analysis packages.
using CSV, DataFrames, HypothesisTests, 
Plots, Statistics, MixedModels

In [7]:
url = "https://raw.githubusercontent.com/HPCurtis/HPCPortfolio/main/Data/Mehr%20Song%20and%20Spelke%202016%20Experiment%201.csv"
df = CSV.read(download(url), DataFrame)
first(df, 2)

2×153 DataFrame
 Row │ id     study_code  exp1   exp2   exp3   exp4     exp5     dob        do ⋯
     │ Int64  String7     Int64  Int64  Int64  String1  String1  String15   St ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │   101  "LUL"           1      0      0                    09-Oct-12  29 ⋯
   2 │   102  "LUL"           1      0      0                    16-Nov-12  10
                                                             145 columns omitted

In [8]:
# The data for the specific experiment is in the first 32 rows of the dataframe
red_df = df[1:32, :];\
# check if id are correct by looking at last 2 rows id's.
last(red_df, 2)

2×153 DataFrame
 Row │ id     study_code  exp1   exp2   exp3   exp4     exp5     dob        do ⋯
     │ Int64  String7     Int64  Int64  Int64  String1  String1  String15   St ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │   131  "LUL"           1      0      0                    17-Oct-12  06 ⋯
   2 │   132  "LUL"           1      0      0                    01-Dec-12  08
                                                             145 columns omitted